<!-- Archivo para configurar el header de la aplicacion  -->


{% load static %} 

<header>
  <!-- Navbar -->
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse "  id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item logo" >
            <img  src="/static/img/logo/logo.png" >
          </li>
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/emprendimiento/lista_empren.html">Emprendimientos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/emprendedor/Emprendedor.html">Emprendedores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reservas/reservas.html">Reservas</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
  <!-- Navbar -->
<!-- Pruebas -->
<!-- <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/static/img/logo/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Bootstrap
  </a>
</nav> -->


<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:#FFFFFF !important ;">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li>
        <img class="logo nav-link"  src="/static/img/logo/logo.png" width="50" height="60"  alt="">
      </li>
      <li class="item active">
        <a class="nav-link" href="/" style=" text-decoration: none;">Home</a>
      </li>
      <li class="item active">
        <a class="item nav-link" href="/emprendimiento/lista_empren.html" style=" text-decoration: none;">Emprendimientos</a>
      </li>
      <li class="item active">
        <a class="nav-link" href="/emprendedor/Emprendedor.html" style=" text-decoration: none;">Emprendedores</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
  </div>
</nav>
  <!-- Background image -->
  
  <!-- Background image -->
</header>
