{%extends "comun/base.html"%}

{% block content %}
<!-- Aqui va el contenido de la pagina -->
{% load static %}


<section>
  <!-- <h1 class="alert alert-danger text-center">Emprendimientos </h1> -->
  <!-- Fecha_inicio=fecha+inicio,
  tipo_emprendimiento=tipo_emprendimiento,
  cantidad_productos=cantidad_productos,
  nombre_producto= nombre_producto -->
  
  
  
  
  
</section>
<!-- ocupar https://docs.djangoproject.com/en/4.1/ref/forms/widgets/ django widgets
en forms ingresamos el campo witge ver el formato de la fecha dia mes y anio  -->

{% endblock %}
