
{%extends "comun/base.html"%} 


{% block content %}
<!-- Aqui va el contenido de la pagina -->
{% load static %}

<section>
  <!-- <h1 class="alert alert-danger text-center">Emprendimientos </h1> -->
  <br>
  <div class="row">
    {% for empre in emprendedor %}
    {% if forloop.counter|divisibleby:"1"  %}
  <div class=" col-sm-12 col-md-6 col-lg-3 pb-4"> 
    
    
    <div class="container">
              <div class=" py-5 px-4 text-center card" style="width:250px ;height:325px ;">
                <img src="{{empre.foto.url}}" class="img-fluid rounded-circle mb-2 img-thumbnail shadow-sm"  style=" width: 200px; height: 200px; ">
        <div class="card-body">
          <h5 class="card-title text-center">{{empre.nombre}}</h5>
          <!-- <h4 >Categoria:{{emprende.tipo_emprendimiento}}</h4> -->
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
                
              </div>
    </div>
    </div>
    {%endif%}
    {% endfor %}
  </div> 
  
  

    <br>
 
</section>

{% endblock %}



